<% articles.forEach((article) => { %>
  <div class="article-card">
    <p class="article-source"></p>
    <h5 class="article-headline">
      <a href="/articles/<%= article._id %>"> <%= article.title %></a>
    </h5>

    <div class="article-img">
      <a target="_blank" href=<%=article.url %> >
        <img class='article-image' src=<%= article.urlToImage %> >
      </a>
    </div>

    <p class="article-description"> <%= article.description %> </p>


    <div class="article-social">
      <ul>

        <li class="favorite" value=<%= article._id %>>
          <i class="far fa-star fa-lg"></i>
        </li>

        <li class="like" value=<%= article._id %>>
          <i class="far fa-heart fa-lg"></i>
          <span id="likes"> <%= article.likes %> </span>
        </li>

        <li class="dislike" value=<%= article._id %>>
          <i class="fas fa-angle-down fa-lg"></i>
          <span id="dislikes"><%= article.dislikes %></span>
        </li>

        <li>
        <form name="share" action="#" method="post">
            <button type="submit">
              <i class="fas fa-share-alt fa-lg"></i>
            </button>
          </form>
        </li>
        <li>
          <form name="trash" action="/articles/<%= article._id %>/delete" method="POST">
            <button type="submit">
              <i class="fas fa-trash-alt fa-lg"></i>
            </button>
          </form>
        </li>


      </ul>
    </div>
  </div>
<% }); %>
