<% articlesUser.forEach((article) => { %>
  <div class="article-card">
    <div class="row no-gutters">
      <div class="article-headline col-12">
        <small><%= article.source.name %></small>
        <h5 class="article-headline"><%= article.title %></h5>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12">
        <a target="_blank" href=<%= article.url %>>
          <img class="article-img" src=<%= article.urlToImage %>>
        </a>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="article-description col-12">
        <p><%= article.description %></p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="article-social col-12">
        <ul>
          <!-- <li><i class="far fa-star invisible"></i></li> -->
          <li><i class="fas fa-star  "></i></li>
          <li><i class="fas fa-angle-up"></i></li>
          <!-- <li><i class="fas fa-thumbs-up invisible"></i></li> -->
          <li><i class="fas fa-angle-down"></i></li>
          <!-- <li><i class="fas fa-thumbs-down invisible"></i></li> -->
          <li><i class="fas fa-share-alt"></i></li>
        </ul>
      </div>
    </div>
  </div>
<% }); %>
