<% articles.forEach((article) => { %>
  <div class="article-card">
    <p class="article-source"><%= article.source.name %></p>
    <h5 class="article-headline"><a href="/articles/<%= article._id %>"><%= article.title %></a></h5>

    <div class="article-img">
      <a target="_blank" href=<%= article.url %>>
        <img src=<%=article.urlToImage %>>
      </a>
    </div>

    <p class="article-description"><%= article.description %></p>

    <div class="article-social">
      <ul>
        <li>
          <form name="favorite" action="/articles/<%= article._id %>/addfav" method="post">
            <button type="submit">
              <i class="far fa-star fa-lg"></i>
              <!-- <i class="far fa-star invisible"></i> -->
            </button>
          </form>
        </li>
        <li>
          <form name="like" action="/articles/<%= article._id %>/like" method="get">
            <button type="submit">
              <i class="fas fa-angle-up fa-lg"></i>
              <!-- <i class="fas fa-thumbs-up invisible"></i> -->
            </button>
          </form>
        </li>
        <li><span><%= article.likes %></span></li>
        <li>
          <form name="dislike" action="/articles/<%= article._id %>/dislike" method="get">
            <button type="submit">
              <i class="fas fa-angle-down fa-lg"></i>
              <!-- <i class="fas fa-thumbs-down invisible"></i> -->
            </button>
          </form>
        </li>
        <li>
          <form name="share" action="#" method="post">
            <button type="submit">
              <i class="fas fa-share-alt fa-lg"></i>
            </button>
          </form>
        </li>
        <li>
          <form name="trash" action="/articles/<%= article._id %>/delete" method="post">
            <button type="submit">
              <i class="fas fa-trash-alt fa-lg"></i>
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <% }); %>
