<%- include('../partials/navBarPartial', user); %>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/user/edit" metod="PUT" class="form-group">
        <label for="name">Name:</label>
        <input name="name" type="text" value="<%- user.name %>" class="form-control">
        <label for="email">Email:</label>
        <input name="email" type="email" value="<%- user.email %>" class="form-control">
        <label for="password">Password:</label>
        <input name="password" type="password" value="<%- user.password %>" class="form-control">
        <input type="submit" class="form-contol btn">
      </form>
      <a href="#"><button class="btn">Edit</button></a>
    </div>
  </div>
<h1>Favorite articles</h1>
</div>
<div class="article-container">
  <%- include('../partials/showArticles', articlesUser) %>
</div>
