
<div class="container-fluid">
  <h1>art<span>i</span>cles</h1>
  <%= article.title %></p>
  <a target="_blank" href=<%= article.url %> >
    <img class="img-thumbnail img-fluid rounded p-3" src=<%= article.urlToImage %> >
  </a>
  <br>

  <%= article.source.id %>
  <%= article.source.name %>
  <%= article.author %>
  <%= article.title %>
  <%= article.description %>
  <%= article.url %>
  <%= article.urlToImage %>
  <%= article.publishedAt %>
  <%= article.starred %>
  <%= article.shared %>
  <%= article.comment %>
  <%= article.comment_id %>
  <%= article.comment.user %>
  <%= article.comment.comment.text %>
  <%= article.rating %>
  <%= article.comment.likes %>
</div>
