<div class="article-card">
    <div class="row no-gutters">
      <div class="article-headline col-12">
        <small>
          <%= article.source.name %>
        </small>
        <h5 class="article-headline">
          <a href="/articles/<%= article._id %>"> <%= article.title %> </a>
        </h5>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12">
        <a target="_blank" href=<%= article.url %>>
          <img class="article-img" src=<%=article.urlToImage %>>
        </a>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="article-description col-12">
        <p>
          <%= article.description %>
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="article-social col-12">
        <ul>
          <li>
            <form name="favorite" action="/articles/<%= article._id %>/addfav" method="post">
              <button type="submit" class="border-0 bg-transparent m-0 p-0">
                <i class="far fa-star "></i>
                <!-- <i class="far fa-star invisible"></i> -->
              </button>
            </form>
          </li>
          <li>
            <form name="like" action="#" method="get">
              <button type="submit" class="border-0 bg-transparent m-0 p-0">
                <i class="fas fa-angle-up"></i>
                <!-- <i class="fas fa-thumbs-up invisible"></i> -->
              </button>
            </form>
          </li>
          <li>
            <form name="dislike" action="#" method="post">
              <button type="submit" class="border-0 bg-transparent m-0 p-0">
                <i class="fas fa-angle-down"></i>
                <!-- <i class="fas fa-thumbs-down invisible"></i> -->
              </button>
            </form>
          </li>
          <li>
            <form name="share" action="#" method="post">
              <button type="submit" class="border-0 bg-transparent m-0 p-0">
                <i class="fas fa-share-alt"></i>
              </button>
            </form>
          </li>
          <li>
            <form name="trash" action="/articles/<%= article._id %>/delete" method="post">
              <button type="submit" class="border-0 bg-transparent m-0 p-0">
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>

  
  <% article.comments.forEach((element) => { %>
  <p>  <%= element._id %></p>
  <p>  <%= element.text %></p>
  <p>  <%= element.rating %></p>
  <p>  <%= element.likes %></p>
  <% }); %>
</div>
