<div class="container">
  <div class="row">
    <div class="col">
      <h1>Art<span>i</span>cle</h1>
      <p><%= article._id %></p>
      <p><%= article.title %></p>
    </div>
    <!-- <div class="col"> -->
      <a target="_blank" href=<%= article.url %> >
        <img class="img-thumbnail" src=<%= article.urlToImage %> >
      </a>
    <!-- </div> -->
    <!-- <div class="col"> -->
      <p><%= article.source.name %></p>
      <p><%= article.author %></p>
      <p><%= article.description %></p>
      <p><%= article.url %></p>
      <p><%= article.urlToImage %></p>
      <p><%= article.publishedAt %></p>
      <p><%= article.starred %></p>
      <p><%= article.shared %></p>
      <% article.comments.forEach((element) => { %>
      <p>  <%= element._id %></p>
      <p>  <%= element.text %></p>
      <p>  <%= element.rating %></p>
      <p>  <%= element.likes %></p>
      <% }); %>
    <!-- </div> -->
  </div>
</div>
